<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zaowuji.back.mapper.UserMapper">

    <sql id="allColumns">
        id, openid, unionid, nickname, phone, email, created_at, updated_at
    </sql>

    <select id="selectByOpenid" resultType="com.zaowuji.back.entity.User">
        SELECT <include refid="allColumns"/>
        FROM `user`
        WHERE openid = #{openid}
    </select>

    <select id="selectById" resultType="com.zaowuji.back.entity.User">
        SELECT <include refid="allColumns"/>
        FROM `user`
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.zaowuji.back.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (openid, unionid, nickname, phone, email)
        VALUES (#{openid}, #{unionid}, #{nickname}, #{phone}, #{email})
    </insert>

</mapper>
